body{
    max-width: 1440px;
}

.cabecalho{
    padding: 30px 15px;
    position: relative;
}

.cabecalho .logo{
    background: url(../imagem/logo.jpg) center center no-repeat;
    width: 85px;
    height: 85px;
    display: block;
    
}

.cabecalho .logo h1{
    font-size: 0;            /*pra esconder o nome da logo*/
}

.cabecalho nav{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: -50px;

}

.cabecalho ul li{
    display: inline-block;
    padding: 15px;
}

.cabecalho ul li a:hover{
    font-weight: bold;     
}

.painel{
    background: url(../imagem/painel.jpg) center center no-repeat;
    height: 600px;
}

.painel h2{
    color: white;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.secao-com-texto{
    padding: 153px;
    text-align: center;
    clear: both;
}

.secao-com-texto img{
    width: 170px;
    height: 170px;
    margin-bottom: 70px;
}

.secao-com-texto h2{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 37px;
}

.secao-com-texto p{
    font-size: 18px;
    width: 700px;
    margin: 0 auto;
}

.secao-com-texto.onde-estamos p{
    font-size: 28px;
    width: 480px;
}

 div{
    float: left;
}

.grande{
    background: url(../imagem/4.jpg) center center no-repeat;
    height: 600px;
    width: 50%;
}

.pequeno-grao{
    background: url(../imagem/2.jpg) center center no-repeat;
    height: 300px;
    width: 25%;
}

.pequeno{
    background: url(../imagem/3.jpg) center center no-repeat;
    height: 300px;
    width: 25%;
}

.medio{
    background: url(../imagem/1.jpg) center center no-repeat;
    height: 300px;
    width: 50%;
}

.contato {
    background: url(../imagem/fundo-contato.jpg) center center no-repeat;
    height: 600px;
    color: white;
    position: relative;
}

.contato h2{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contato address{
    font-size: 25px;
    font-weight: 600;
}

.contato .texto{
    position: absolute;
    top: 30%;
    left: 50%;
}

.rodape{
    background: url(/src/imagem/fundo-rodape.jpg) center center no-repeat;
    padding: 35px 30px;
    background-size: cover;
}

.rodape ul{
    float: right;
    margin-top: 30px;
}

.rodape ul li{
    display: inline-block;
    padding: 15px;   
}

.rodape ul li a{
    color: white;
}

.rodape ul li a:hover{
    font-weight: bold;
}

.rodape .copyrigth{
    color: white;
}

.rodape .redes-sociais .facebook,
.rodape .redes-sociais .instagram{
    width: 20px;
    height: 20px;
    margin: 10px;
}

.rodape .redes-sociais{
    float: right;
    clear: both;
}

.rodape .conteudo-de-baixo{
    margin-top: 40px;
}

.rodape .logo{
    display: ;
}